.ruleta{
    position: fixed;
}
.btn-ruleta{
    position: absolute;
    left: 1200px;
    top: 430px;
    background-color: transparent;
    border: transparent;
    border-radius: 5px;
}
.img-ruleta{
    width: 150px;
    height: 150px;
}