.container {
    border-radius: 8px;
    box-shadow: 0 10px 30px #00b300;
    border: 1px solid yellow;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    font-size: 18px;
  }
  .help-account, .help-create{
      display: block;
  }
  .btn-ingresar{
      width: 400px;
      margin-right: 350px;
  }
  